
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/


venv/
.env/
.venv/
env/


.streamlit/secrets.toml


.vscode/
.idea/
*.swp


.DS_Store
Thumbs.db

*.log


.ipynb_checkpoints/

temp/
tmp/
